name: Docker Commit

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
    tags-ignore:
      - "*"

jobs:
  # Alpine build.
  # WARNING: Deprecated, will be removed as it is not recommended
  #          for uWebSockets.js
  alpine:
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        node:
          - '16'

    name: Tag Alpine Commit (node:${{ matrix.node }})

    steps:
      - uses: actions/checkout@v4.0.0

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v4.6.0
        with:
          images: quay.io/soketi/soketi
          tags: |
            type=ref,event=pr,suffix=-${{ matrix.node }}-alpine
            type=raw,value=${{ github.sha }}-${{ matrix.node }}-alpine
          labels: |
            quay.expires-after=7d

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: network=host

      - name: Login to Quay
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          push: true
          context: .
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          build-args: |
            VERSION=${{ matrix.node }}
          cache-from: |
            type=gha,scope=alpine
          cache-to: |
            type=gha,scope=alpine
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm/v7

  # Distroless build.
  distroless:
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        node:
          - '16'

    name: Tag Distroless Commit (node:${{ matrix.node }})

    steps:
      - uses: actions/checkout@v4.0.0

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v4.6.0
        with:
          images: quay.io/soketi/soketi
          tags: |
            type=ref,event=pr,suffix=-${{ matrix.node }}-distroless
            type=raw,value=${{ github.sha }}-${{ matrix.node }}-distroless
          labels: |
            quay.expires-after=7d

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: network=host

      - name: Login to Quay
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          push: true
          context: .
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          file: Dockerfile.distroless
          build-args: |
            VERSION=${{ matrix.node }}
          cache-from: |
            type=gha,scope=distroless
          cache-to: |
            type=gha,scope=distroless
          platforms: |
            linux/amd64
            linux/arm64

  # Stable Debian build.
  debian:
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        node:
          - '16'

    name: Tag Debian Commit (node:${{ matrix.node }})

    steps:
      - uses: actions/checkout@v4.0.0

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v4.6.0
        with:
          images: quay.io/soketi/soketi
          tags: |
            type=ref,event=pr,suffix=-${{ matrix.node }}-debian
            type=raw,value=${{ github.sha }}-${{ matrix.node }}-debian
          labels: |
            quay.expires-after=7d

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: network=host

      - name: Login to Quay
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          push: true
          context: .
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          file: Dockerfile.debian
          build-args: |
            VERSION=${{ matrix.node }}
          cache-from: |
            type=gha,scope=debian
          cache-to: |
            type=gha,scope=debian
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm/v7
