name: Docker Latest

on:
  push:
    branches:
      - master
    tags-ignore:
      - "*"
  pull_request:
    tags-ignore:
      - "*"
    branches-ignore:
      - "*"

jobs:
  push:
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node:
          - 16-alpine
          - 14-alpine

    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000

    name: Test & Tag Latest (node:${{ matrix.node }})

    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver-opts: network=host

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build test image
        id: docker_test
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: localhost:5000/soketi/uws-pusher:latest-${{ matrix.node }}

      - name: Test
        run: |
          docker run -d -p 6001:6001 -e PROMETHEUS_ENABLED=1 localhost:5000/soketi/uws-pusher:latest-${{ matrix.node }}
          sleep 5
          curl --silent -XGET --fail http://127.0.0.1:6001
          curl --silent -XGET --fail http://127.0.0.1:6001/metrics

      - name: Build final image
        id: docker_final
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: soketi/uws-pusher:latest-${{ matrix.node }}
          build-args: |
            VERSION=${{ matrix.node }}
