name: Docker Release - Distroless

on:
  push:
    tags:
      - "*"

jobs:
  push:
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node:
          - '16'

    name: Tag Distroless Release (node:${{ matrix.node }})

    steps:
      - uses: actions/checkout@v2

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v3.6.2
        with:
          images: quay.io/soketi/soketi
          tags: |
            type=semver,pattern={{version}}-${{ matrix.node }}-distroless
            type=semver,pattern={{major}}.{{minor}}-${{ matrix.node }}-distroless

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver-opts: network=host

      - name: Compute GitHub tag
        id: tag
        uses: dawidd6/action-get-tag@v1

      - name: Build testing image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: localhost:5000/soketi/soketi:${{ matrix.node }}
          build-args: |
            VERSION=${{ matrix.node }}

      - name: Test
        run: |
          docker run -d -p 6001:6001 -e DEBUG=1 localhost:5000/soketi/soketi:${{ matrix.node }}
          sleep 5
          curl --silent -XGET --fail http://127.0.0.1:6001

      - name: Login to Quay
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_TOKEN }}

      - name: Build and push (node:${{ matrix.node }})
        uses: docker/build-push-action@v2
        with:
          push: true
          context: .
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          file: Dockerfile.distroless
          build-args: |
            VERSION=${{ matrix.node }}
